In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
ser1 = pd.Series([1,2,3,4,5],{'Alaska','NY','Atlanta','LA','Texas'})

In [11]:
ser1

Alaska     1
NY         2
Atlanta    3
LA         4
Texas      5
dtype: int64

In [12]:
ser2 = pd.Series([1,2,6,4,5],{'Alaska','NY','Delhi','LA','Texas'})

In [13]:
ser2

Alaska    1
NY        2
Delhi     6
LA        4
Texas     5
dtype: int64

In [14]:
ser2['Delhi']

6

In [15]:
ser1+ser2

Alaska      2.0
Atlanta     NaN
Delhi       NaN
LA          8.0
NY          4.0
Texas      10.0
dtype: float64